/*navbar component */
.nav-item:hover{
    background-color:  Purple;
    color:white;
}

.nav-item:hover a{
    color:white;
}

.nav-item a{
    color:white;
    text-decoration: none;
}

/* general styling */
 *{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto Slab', serif;
}
